.container {
    background: white;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 1000px;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .container {
        padding: 1.5rem;
        max-width: 350px;
    }
}

@media only screen and (min-width: 768px) {
    .container {
        padding: 1.5rem;
        max-width: 500px;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 1rem;
        max-width: 300px;
    }
}